
body {
	background-color: orange 
}

h1 {
	color: blue;
	background: yellow;
	background-color: pink;
	font-weight: 3em;
}

h2, h3, p {
	background-color: orange;
	font-weight: 3em;
}

a {
	background: ;
	user-select: pink;
	text-decoration: overline
}

a:hover {
	color: green
	;
}
