/** {
	padding: 0px;
	margin: 0px;
}*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Rock+Salt');

body {
	font-family: 'Roboto', sans-serif;
	color: #4c4845;
	font-size: 16px;
	line-height: 2em;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

section {
	height: auto;
}


h1 {
	font-family: 'Rock Salt', cursive;
	font-weight: bold;
	font-size: 2.5em;
}

h2 {
	font-family: 'Rock Salt', cursive;
	font-size: 1.5em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;	
}

p {
	font-size: 1em;
}

nav {
	height: 70px;
	width: auto;
	color: #FFF;
}

nav img {
	width: 10%;
	height: auto;
	opacity: 0.5;
}

nav a {
    padding: 11px 55px;
    margin: 10px;
    border: 2px solid #C9AA5D;
    border-radius: 9px; 
    text-align: center; 
    text-decoration: none;
    float: right;
    display: inline-block;
}

nav a:link, a:visited {
    background-color: #C9AA5D;
    color: #FFF;
}

nav a:hover {
    background-color: #FFF;
    color: #C9AA5D;
    text-decoration-line: none;
}

a:link, a:visited {
	color: white;
	text-decoration-line: none;
}

a:hover {
	text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #777777;
    text-align: center;
    padding: 20px;
}

.brown {
	color: #C9AA5D;
}

#hero {
	height: 200px;
	width: 100%;
	color: #FFF;
	padding: 80px 0px;
	margin: 0px;
	text-align: center;
/*	background-image: url("../images/img2.png");*/
	background: url("http://www.arrigoniwoods.com/sites/default/files/livingwood.jpg");
	background-color: #000;
	background-size: inherit;
}

#business {
	font-family: Helvetica, Sans-Serrif;
	font-weight: 5em;
	color: white;
	margin-top: 50px;
}

#slogan {
	font-family: Helvetica, Sans-Serrif;
	font-weight: 3em;
	font-style: italic;
	color: white;
	margin-bottom: 50px;
}

#explore {
	padding: 25px;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 3px;
	background-color: #e5e7ea;
	text-align: left;
}

/*#explore {
	padding: 25px;
	margin-left: 15%;
	margin-right: 15%;
	border-radius: 3px;
	background-color: #e5e7ea;
	text-align: left;
}
*/
/*#explore {
	height: 200px;
	width: auto;
	margin-top: 0px;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 8px;
	padding-left: 20 px;
	background-color: #e5e7ea;
	color: #000;
	text-align: left;
}*/